Local/*
Backup/*
Cache/*
Index/*
*-ca-bundle*
Packages/markupsafe/*
Packages/mdpopups/*
Packages/pygments/*
Packages/python-jinja2/*
Packages/python-markdown/*
Packages/pytz/*
Packages/Settings/*
Packages/SFTP/*
Packages/Pretty JSON/*
*Package Control*
Installed Packages/*
*.sublime-workspace
*.DS_Store
